.events {
    display: flex;
    margin-top: 80px;
    margin-left: 15%;
}

.person-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    position: relative;
    margin: 40px 0;
    width: 70%;
    border-right: 1px solid gray;
}

.cart-container {
    margin-top: 100px;
    margin-left: 30px;
    color: honeydew;
}

.cart-container h4 {
    font-weight: 400;
    font-size: 22px;
}

@media only screen and (max-width: 688px) {
    .person-container {
        grid-template-columns: 1fr;
        border-right: none;
    }
    .events {
        flex-direction: column;
    }
}

@media screen and (min-width: 689px) and (max-width: 1024px) {
    .person-container {
        grid-template-columns: (2, 1fr);
    }
}