.person-info {
    width: 260px;
    height: 400px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) saturate(180%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.7;
    transition: 0.6s;
}

.person-info:hover {
    transform: scale(1.1);
}

.details {
    margin-left: 0px;
    color: #fff;
    line-height: 20px;
}

.img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    margin-top: 20px;
}

h4 {
    margin: 5px 0px 10px 0px;
}

h5 {
    font-weight: 400;
    margin: 3px 0px;
}

.person-btn {
    background: transparent;
    border: 1px solid orange;
    color: white;
    padding: 8px 20px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
}

.person-btn:hover {
    background: orange;
}